.sandBox_container {
    display: flex;
    align-items: center;
}

.textInput_box, .button_box, .reactCheckbox_box,
.editableSpan_box, .mySelect_box, .radio_box {
    margin: 20px;
    width: 210px;
}

.textInput_box span, .button_box span,
.reactCheckbox_box > span, .editableSpan_box > span,
.mySelect_box span, .radio_box > span {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.button_box, .editableSpan_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}