.table {
    position: relative;
    width: 100%;
    height: 480px;
    box-shadow: 0 0 10px 10px #e0e0e0;
    display: grid;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 14px;
}

.table button {
    margin: 0 !important;
}

.table__row, .table__row__header {
    display: grid;
    grid-column-gap: 20px;
}

.table__row:nth-child(2n+1) {
    background-color: #f8f7fd;
}

.table__row__header {
    position: sticky;
    top: 0;
    background-color: #ececf9;
}

.table__cell__container {
    min-height: 48px;
    display: flex;
    align-items: center;
}

.table__cell {
    min-width: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.table__cell__container:first-child {
    padding-left: 20px;
}

.table__cell__container:last-child {
    padding-right: 20px;
}